<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daehan.frozen.userapi.store.UserMapper">
    <select id="getUsers" resultType="com.daehan.frozen.userapi.entity.Member">
        SELECT *
        FROM MEMBER
    </select>

    <insert id="insertUser" parameterType="com.daehan.frozen.userapi.entity.Member"><![CDATA[
        INSERT INTO MEMBER (USERNAME, PASSWORD, NICKNAME, EMAIL, PHONENUMBER)
        VALUES (#{username}, #{password}, #{nickname}, #{email}, #{phoneNumber})
    ]]></insert>

    <select id="findByUsername" parameterType="java.lang.String" resultType="com.daehan.frozen.userapi.entity.Member">
        SELECT *
        FROM MEMBER
        WHERE USERNAME = #{username}
    </select>
</mapper>